// Import Bulma's initial variables
// @import "../node_modules/bulma/sass/utilities/variables.sass";

// // Override initial variables here
// // You can add new ones or update existing ones:

$night: #003971; // night
$day: #AE7A00; // day
// $pink: #ffb3b3; // Add pink
// $family-serif: "Georgia", serif; // Add a serif family

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

// $danger: $orange; // Use the existing orange
// $family-primary: $family-serif; // Use the new serif family

@import "../node_modules/bulma/bulma";


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.is-night {
    background-color: $night;
    color: #fff;
}

.is-day {
    background-color: $day;
    color: #fff;
}