// Import Bulma's initial variables
// @import "../node_modules/bulma/sass/utilities/variables.sass";

// // Override initial variables here
// // You can add new ones or update existing ones:

$night: #003971; // night
$day: #FFECA7; // day
// $pink: #ffb3b3; // Add pink
// $family-serif: "Georgia", serif; // Add a serif family

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

// $danger: $orange; // Use the existing orange
// $family-primary: $family-serif; // Use the new serif family

@import "../node_modules/bulma/bulma";

.is-night {
  color: #e5d7b3;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141a21+0,49546d+29,404e60+47,101214+100 */
  background: #141a21; /* Old browsers */
  background: -moz-linear-gradient(top,  #141a21 0%, #49546d 29%, #404e60 47%, #101214 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #141a21 0%,#49546d 29%,#404e60 47%,#101214 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #141a21 0%,#49546d 29%,#404e60 47%,#101214 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141a21', endColorstr='#101214',GradientType=0 ); /* IE6-9 */
}

.is-day {
  color: #222;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff07f+0,fcf3c7+30,fcf3c7+42,7f611c+100 */
  background: #fff07f; /* Old browsers */
  background: -moz-linear-gradient(top,  #fff07f 0%, #fcf3c7 30%, #fcf3c7 42%, #7f611c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fff07f 0%,#fcf3c7 30%,#fcf3c7 42%,#7f611c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fff07f 0%,#fcf3c7 30%,#fcf3c7 42%,#7f611c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff07f', endColorstr='#7f611c',GradientType=0 ); /* IE6-9 */
}

.is-dawn {
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0ab8f+0,e5d7b3+26,dbcfad+38,82726a+100 */
  background: #e0ab8f; /* Old browsers */
  background: -moz-linear-gradient(top,  #e0ab8f 0%, #e5d7b3 26%, #dbcfad 38%, #82726a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e0ab8f 0%,#e5d7b3 26%,#dbcfad 38%,#82726a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e0ab8f 0%,#e5d7b3 26%,#dbcfad 38%,#82726a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ab8f', endColorstr='#82726a',GradientType=0 ); /* IE6-9 */

}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-swell infinite 2s linear;
  height: 80px;
  width: 100px;
  margin: auto;
  display: block;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.hero.transparent {
  background-color: transparent;
}

.player-notification {
  font-size: 60px;
  line-height: 120px;
  top: 20px;
  z-index: 99;
  text-transform: uppercase;
  width: 100vw;
  text-shadow: 0 0 20px #fff;
  color: #fff;
  left: 0;
  position: absolute;
  -webkit-animation: Spooky-intro forwards 2s linear; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: Spooky-intro forwards 2s linear; /* Firefox < 16 */
      -ms-animation: Spooky-intro forwards 2s linear; /* Internet Explorer */
          animation: Spooky-intro forwards 2s linear;
}

@keyframes App-logo-swell {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@keyframes Spooky-intro {
	0% { opacity: 0; transform: translate(2px, 1px) rotate(0deg); }
	10% { opacity: 0.2; transform: translate(-1px, -2px) rotate(-1deg); }
	20% { opacity: 0.4; transform: translate(-3px, 0px) rotate(1deg); }
	30% { opacity: 0.6; transform: translate(0px, 2px) rotate(0deg); }
	40% { opacity: 0.8; transform: translate(1px, -1px) rotate(1deg); }
	50% { opacity: 1; transform: translate(-1px, 2px) rotate(-1deg); }
	60% { opacity: 1; transform: translate(-3px, 1px) rotate(0deg); }
	70% { opacity: 1; transform: translate(2px, 1px) rotate(-1deg); }
	80% { opacity: 0.7; transform: translate(-1px, -1px) rotate(1deg); }
	90% { opacity: 0.3; transform: translate(2px, 2px) rotate(0deg); }
	100% { opacity: 0; transform: translate(1px, -2px) rotate(-1deg); }
}