// Import Bulma's initial variables
// @import "../node_modules/bulma/sass/utilities/variables.sass";

// // Override initial variables here
// // You can add new ones or update existing ones:

$night: #132028; // night
$day: #FFECA7; // day
$primary: #a20000;
// $pink: #ffb3b3; // Add pink
// $family-serif: "Georgia", serif; // Add a serif family

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

// $danger: $orange; // Use the existing orange
// $family-primary: $family-serif; // Use the new serif family

@import "../node_modules/bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Overlock+SC');

//fadeInUp
@keyframes fadeInUp {
	0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
            animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeInUp{
    -webkit-animation: fadeInUp forwards 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadeInUp forwards 2s ease-in; /* Firefox < 16 */
        -ms-animation: fadeInUp forwards 2s ease-in; /* Internet Explorer */
            animation: fadeInUp forwards 2s ease-in;
}

@mixin box-shadow() {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}

body {
  background-color: #1f1f1f;
}

.button.is-primary {
  font-size: 1.5rem;
  font-family: 'Overlock SC', cursive;
  @include box-shadow;
  border: solid 2px darken($primary, 10%);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  &:hover {
    border: solid 2px darken($primary, 20%);
    background-color: solid 2px darken($primary, 10%);
  }
}

.error {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.is-night {
  color: #e5d7b3;
  .title {
    color: #e5d7b3;
  }
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141a21+0,49546d+29,404e60+47,101214+100 */
  background: #132028; /* Old browsers */
  // background: -moz-linear-gradient(top,  #141a21 0%, #49546d 29%, #404e60 47%, #101214 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top,  #141a21 0%,#49546d 29%,#404e60 47%,#101214 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom,  #141a21 0%,#49546d 29%,#404e60 47%,#101214 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141a21', endColorstr='#101214',GradientType=0 ); /* IE6-9 */
}

.is-day {
  color: #fff;
  .title {
    color: #fff;
  }
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff07f+0,fcf3c7+30,fcf3c7+42,7f611c+100 */
  background: #ada15e; /* Old browsers */
  // background: -moz-linear-gradient(top,  #fff07f 0%, #fcf3c7 30%, #fcf3c7 42%, #7f611c 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top,  #fff07f 0%,#fcf3c7 30%,#fcf3c7 42%,#7f611c 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom,  #fff07f 0%,#fcf3c7 30%,#fcf3c7 42%,#7f611c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff07f', endColorstr='#7f611c',GradientType=0 ); /* IE6-9 */
}

.is-dawn {
  color: #fff;
  .title {
    color: #fff;
  }
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0ab8f+0,e5d7b3+26,dbcfad+38,82726a+100 */
  background-color: #A2A897; /* Old browsers */
  // background: -moz-linear-gradient(top,  #e0ab8f 0%, #e5d7b3 26%, #dbcfad 38%, #82726a 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top,  #e0ab8f 0%,#e5d7b3 26%,#dbcfad 38%,#82726a 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom,  #e0ab8f 0%,#e5d7b3 26%,#dbcfad 38%,#82726a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0ab8f', endColorstr='#82726a',GradientType=0 ); /* IE6-9 */
}

.is-trial {
  color: #fff;
  .title {
    color: #fff;
  }
  background-color: #A2A897;
}

.input {
  text-transform: uppercase;
}

.player-card {
  position: relative;
  .voted-mark {
    position: absolute;
    top: 0;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 9999;
    right: 0;
  }
}

.info-card-villager, .info-card-prophet, .info-card-witch {
  background-image: url('./images/info-card-villager.jpg');
  background-position: center top;
  border: solid 1px #666;
  @include box-shadow;
  &.notification {
    padding: .25rem;
    .title {
      font-family: 'Overlock SC', cursive;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: .25rem;
      color: #3b3b3b;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .subtitle {
      margin-top: 0;
      color: #3b3b3b;
    }
  }
  &.is-me {
    border: solid 1px limegreen;
  }
  &.info-card-prophet.is-dawn.is-me {
    border: solid 1px goldenrod;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,251,212,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,251,212,1);
    box-shadow: 0px 0px 10px 0px rgba(255,251,212,1);
  }
  &.info-card-witch.is-night.is-me {
    border: solid 1px darkred;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,0,0,1);
    box-shadow: 0px 0px 10px 0px rgba(255,0,0,1);
  }
  &.is-dead {
    background-image: url('./images/info-card-villager-dead.jpg');
  }
}

.how-to-play-icon {
  width: 30px;
  height: 30px;
}

#canvas {
  position: absolute;
  left: 0;
}

.main-column {
  z-index: 1;
  position: relative;
}

.App {
  max-width: 600px;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 40px;
  -webkit-transition: background 1s linear;
  -ms-transition: background 1s linear;
  transition: background 1s linear;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  &.bog {
    background-image: url('./images/bog.png');
  }
  &.caves {
    background-image: url('./images/cave.png');
  }
  &.hills {
    background-image: url('./images/hills.png');
  }
  &.ruins {
    background-image: url('./images/ruins.png');
  }
  &.witches {
    background-color: darkred;
  }
  &.villagers {
    background-color: #90AFA0;
  }
  .label {
    color: #fff
  }
}

.tabs {
  a {
    color: #fff;
  }
}

.App-logo {
  animation: App-logo-swell infinite 2s linear;
  height: 80px;
  width: 100px;
  margin: auto;
  display: block;
}

.farm-icon {
  width: 120px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.hero.transparent {
  background-color: transparent;
}

.instructions {
  font-family: 'Overlock SC', cursive;
  font-size: 1.5rem;
  text-shadow: 0px 2px 8px #000, 0 0 1.5rem #000;
}

.role-instructions {
  font-family: 'Overlock SC', cursive;
  font-size: 1.25rem;
  text-shadow: 0px 2px 8px #000, 0 0 1.5rem #000;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
}

.lobby-name {
  font-size: 2rem;
  font-family: 'Overlock SC', cursive;
  text-shadow: 0px 2px 8px #000, 0 0 1.5rem #000;
}

.button.leave-lobby {
  position: absolute;
  top: 10px;
  right: 10px;
}

.player-notification {
  display: flex;
  font-family: 'Overlock SC', cursive;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.5);
  z-index: 99;
  text-transform: uppercase;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  &.show {
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  &.failed {
    .player-notification-text {
      text-shadow: 0 0 20px #ee6738;
      color: red;
    }
  }
  &.witch {
    .player-notification-text {
      text-shadow: 0 0 20px #ee6738;
      color: red;
    }
  }
  &.prophet {
    .player-notification-text {
      text-shadow: 0 0 20px goldenrod;
      color: lightgoldenrodyellow
    }
  }
  &.villager {
    .player-notification-text {
      text-shadow: 0 0 20px darkseagreen;
      color: mediumspringgreen;
    }
  }
  .player-notification-text {
    text-shadow: 0 0 20px #fff;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    -webkit-animation: Spooky-intro infinite 2s linear; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: Spooky-intro infinite 2s linear; /* Firefox < 16 */
        -ms-animation: Spooky-intro infinite 2s linear; /* Internet Explorer */
            animation: Spooky-intro infinite 2s linear;
  }
}

@keyframes App-logo-swell {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@keyframes Spooky-intro {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}